<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>priol_testCases.ExecuteTest_AutoSystem</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_GAJ_57</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_GAJ_41</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_GAJ_96</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_GAJ_128</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_GAJ_95</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_GAJ_127</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_GAJ_105</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_GAJ_83</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_GAJ_100</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_GAJ_101</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_0_Login</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
