<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="79c292">  <td>19/07/20 07:59:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTest_AutoSystem.test_GAJ_41()[pri:1, instance:priol_testCases.ExecuteTest_AutoSystem@2d2e5f00]">test_GAJ_41</td> 
  <td>main@1131040331</td>   <td></td> </tr>
<tr bgcolor="79c292">  <td>19/07/20 07:59:03</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTest_AutoSystem.test_GAJ_57()[pri:2, instance:priol_testCases.ExecuteTest_AutoSystem@2d2e5f00]">test_GAJ_57</td> 
  <td>main@1131040331</td>   <td></td> </tr>
<tr bgcolor="79c292">  <td>19/07/20 07:59:03</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTest_AutoSystem.test_GAJ_83()[pri:3, instance:priol_testCases.ExecuteTest_AutoSystem@2d2e5f00]">test_GAJ_83</td> 
  <td>main@1131040331</td>   <td></td> </tr>
<tr bgcolor="79c292">  <td>19/07/20 07:59:03</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTest_AutoSystem.test_GAJ_96()[pri:5, instance:priol_testCases.ExecuteTest_AutoSystem@2d2e5f00]">test_GAJ_96</td> 
  <td>main@1131040331</td>   <td></td> </tr>
<tr bgcolor="79c292">  <td>19/07/20 07:59:03</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTest_AutoSystem.test_GAJ_101()[pri:7, instance:priol_testCases.ExecuteTest_AutoSystem@2d2e5f00]">test_GAJ_101</td> 
  <td>main@1131040331</td>   <td></td> </tr>
</table>
