<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="959ed8">  <td>19/07/20 09:44:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExecuteTest_AutoSystem.setUp(java.lang.String)[pri:0, instance:priol_testCases.ExecuteTest_AutoSystem@4c40b76e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1654185126</td>   <td></td> </tr>
<tr bgcolor="959ed8">  <td>19/07/20 09:47:16</td>   <td>168900</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExecuteTest_AutoSystem.tearDown()[pri:0, instance:priol_testCases.ExecuteTest_AutoSystem@4c40b76e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1654185126</td>   <td></td> </tr>
<tr bgcolor="959ed8">  <td>19/07/20 09:44:30</td>   <td>2279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTest_AutoSystem.test_GAJ_127()[pri:9, instance:priol_testCases.ExecuteTest_AutoSystem@4c40b76e]">test_GAJ_127</td> 
  <td>TestNG-tests-1@1654185126</td>   <td></td> </tr>
<tr bgcolor="959ed8">  <td>19/07/20 09:45:41</td>   <td>73513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTest_AutoSystem.test_GAJ_128()[pri:10, instance:priol_testCases.ExecuteTest_AutoSystem@4c40b76e]">test_GAJ_128</td> 
  <td>TestNG-tests-1@1654185126</td>   <td></td> </tr>
</table>
